# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
# DATABASE_URL="postgresql://postgres:password@localhost:5432/turnover-app"


# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://turnover_owner:Dvpz0cJrFX5n@ep-lucky-dew-a5cwb3y9.us-east-2.aws.neon.tech/turnover?sslmode=require"

DATABASE_URL=""
JWT_SECRET="secret"

SENDGRID_API_KEY=""